ANTHROPIC_API_KEY=
NEXT_PUBLIC_USE_MOCK_DATA=true

#기상청_단기예보 조회서비스
KMA_API_KEY=
WEATHER_API_KEY=

#농촌진흥청 국립농업과학원_토양검정 화학성 상세정보 / 토양도 기반 토양특성 상세정보
SOIL_API_KEY=
SOIL_CHEMISTRY_API_KEY=
SOIL_MAP_DETAIL_API_KEY=

#농촌진흥청 국립농업과학원_작물별 비료 표준사용량 처방 정보
FERTILIZER_API_KEY=
