
# AI 맞춤 재배 리포트(Gemini API)
GEMINI_API_KEY=

NEXT_PUBLIC_USE_MOCK_DATA=false

# 기상청
KMA_API_KEY=
WEATHER_API_KEY=

# 토양
SOIL_API_KEY=
SOIL_CHEMISTRY_API_KEY=
SOIL_MAP_DETAIL_API_KEY=

# 비료
FERTILIZER_API_KEY=

# 작물 코드
CROP_CODE_API_KEY=

# 병해충
PEST_API_KEY=

REGION_API_KEY=